name: Tests
on:
  push:
    branches:
      - master
      - main
      - "release/*"
  pull_request:
jobs:
  test:
    name: Unit
    runs-on: 'ubuntu-latest'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '~1.23'
          check-latest: true
      - run: go version
      - run: go mod download
      - run: make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5